<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <#if (error)??>
        <div class="alert alert-danger">
            <#noescape>${error?html?replace("\n", "<br>")}</#noescape>
        </div>
    </#if>

    <#if adapter??>
        <#if configFile??>
            <h1><a href="/adapter/${adapter.id}/configfiles">${adapter.title}</a></h1>

            <h2>${configFile.configFile}</h2>
            <p>${configFile.configDescription}

            <h4>
                <a href="/adapter/${adapter.id}/configfile/${configFile.id}/fileedit">${i18n("configFileRawView.fileRawEdit")}</a>
            </h4>

            <div class="form-group">
                <label for="content"
                       class="row-lg-2 control-label">${i18n("configFileRawView.fileContent")}</label>
                <div class="row-lg-10">
                    <textarea readonly name="content" class="form-control" id="content" rows="20">${content}</textarea>
                </div>
            </div>


            <#else>
                <p>Sorry. Post not found. Please go back to <a href="/index">index</a></p>

        </#if>
    </#if>


</@layout.myLayout>