<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout i18n("adapterDelete.pageTitle")>
    
    
<#if adapter??>

    <h1>${adapter.title}</h1>
    <p>Id: ${adapter.id}</p>
    <hr>

    <div class="container">

        <h1>${i18n("adapterDelete.deleteAdapterTitle")}</h1>

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-8">
                <form action="/adapter/${adapter.id}/delete" method="post" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="alert-danger col-lg-5 control-label">${i18n("adapterDelete.confirm")}</label>

                    </div>
                    <div class="col-lg-2">
                        <input type="submit" id="confirm" class="btn btn-danger
                        pull-right alert-danger" value="${i18n("adapterDelete.deleteAdapter")}"  />
                    </div>


                </form>

            </div>

        </div>
    </div>

<#else>
    
    <p>Sorry. Post not found. Please go back to <a href="/index">index</a></p>
    
</#if>
    

</@layout.myLayout>